* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  background-color: #f2eee9;
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body header nav .logo {
  display: flex;
  margin-right: auto;
  align-items: center;
  width: 40%;
}
body header nav .logo:hover {
  border: 0;
}
body header nav .logo img {
  height: 10vh;
  flex-shrink: 1;
}
body header nav .logo h1 {
  flex-shrink: 4;
}
body header nav #sidebar-active {
  display: none;
}
body header nav .open {
  display: none;
  padding: 0 30px;
}
body header .links-container {
  margin-left: 0;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
body header .links-container .close {
  display: none;
  padding: 0 20px;
}
body header .links-container a {
  height: 100%;
  width: 100%;
  padding: 30px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}
body header .links-container a:hover {
  background-color: #f1a99b;
}
body main {
  background-color: rgb(137, 43, 43);
  height: 100%;
  width: 100%;
}
body main h1 {
  padding: 2rem 2rem 1rem 2rem;
  font-size: 30px;
  color: white;
}
body main .custom-select {
  padding: 0 2rem 1rem 2rem;
}
body main .custom-select select {
  padding: 10px;
  font-size: 0.8rem;
  background-color: rgb(137, 43, 43);
  color: white;
  border-color: rgba(128, 128, 128, 0.704);
}
body main .open-edit-box {
  padding: 10px 20px 10px 10px;
  font-size: 0.8rem;
  background-color: rgb(137, 43, 43);
  color: white;
  border: 1px solid rgba(128, 128, 128, 0.704);
}
body main .open-edit-box:hover {
  cursor: pointer;
  background-color: #f2eee9;
  color: rgb(137, 43, 43);
}
body main .edit-box[open] {
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 10%;
  left: 50%;
  padding: 1rem;
  background-color: rgb(49, 47, 47);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 30%;
  z-index: 3;
}
body main .edit-box[open] span {
  align-self: flex-start;
  color: white;
}
body main .edit-box[open] span:hover {
  cursor: pointer;
}
body main .edit-box[open] p {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
}
body main .edit-box[open] button {
  width: 70%;
  font-size: 0.8rem;
  font-weight: 400;
  color: #6ae680;
  background-color: rgb(49, 47, 47);
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
}
body main .edit-box[open] button:hover {
  cursor: pointer;
  background-color: rgb(46, 44, 44);
}
body main .edit-box[open] .add-event {
  width: 80%;
  height: 10%;
  font-size: 1rem;
  padding: 20px 30px;
  margin-bottom: 20px;
}
body main .edit-box[open] .edit-event-div {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  margin-bottom: 10px;
}
body main .edit-box[open] .edit-event-div .eventBtn {
  width: 90%;
  padding: 20px;
}
body main .edit-box[open] .edit-event-div .trashBtn {
  width: 10%;
  border: none;
  font-size: 1.05rem;
}
body main .edit-box[open] .edit-event-div .trashBtn:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.3s ease;
  background-color: rgb(49, 47, 47);
}
body main .event {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem;
}
body main .event:hover {
  cursor: pointer;
}
body main .event .event-box {
  background-color: #f2eee9;
  border-radius: 15px;
  width: 20%;
  max-height: 60%;
  margin: 2.5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  z-index: 0;
}
body main .event .event-box .filter {
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 1;
}
body main .event .event-box img {
  border-radius: 10px 10px 0 0;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  height: 50%;
}
body main .event .event-box .event-date {
  width: 75px;
  position: absolute;
  border-radius: 10px 0;
  background-color: #f2eee9;
  padding: 5px 10px;
  text-align: center;
}
body main .event .event-box .event-date p {
  font-size: 0.75rem;
  font-weight: 300;
  color: rgb(137, 43, 43);
}
body main .event .event-box .event-date .day {
  margin-top: -0.3rem;
  font-size: 1.75rem;
}
body main .event .event-box .event-date .day.end {
  font-size: 1rem;
}
body main .event .hide {
  display: none;
}
body main .event .event-info {
  padding: 2rem;
  text-align: left;
  height: 50%;
}
body main .event .event-info .location {
  margin: -10px 0;
  color: rgb(165, 164, 164);
  font-size: 15px;
  font-weight: 300;
  position: absolute;
  bottom: 5rem;
  left: 2.5rem;
}
body main .event .event-info .time {
  background-color: rgba(183, 183, 183, 0.819);
  border-radius: 15px;
  padding: 0.5rem;
  line-height: 1rem;
  width: 50%;
  font-size: 15px;
  font-weight: 300;
  position: absolute;
  bottom: 2rem;
}
body main .edit-event-box[open] {
  background-color: rgba(0, 0, 0, 0.4);
  border: 0;
  height: 100%;
  width: 50%;
  position: fixed;
  bottom: 0;
  overflow: scroll;
  display: flex;
  align-items: center;
}
body main .edit-event-box[open] select {
  display: block;
  background-color: rgb(49, 47, 47);
  color: gray;
  padding: 20px;
  width: 90%;
  border-radius: 5px;
  margin: 2px 5% 20px 5%;
  border: 1px solid gray;
}
body main .edit-event-box[open] select:not(:selected):valid {
  background-color: #f2eee9;
  color: rgb(49, 47, 47);
}
body main .edit-event-box[open] form {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(49, 47, 47);
  padding: 1rem;
  width: 70%;
  border-radius: 15px;
  left: 10%;
  top: 5%;
}
body main .edit-event-box[open] form p {
  margin: 0 2rem;
  text-align: center;
  width: 50%;
  color: #6ae680;
}
body main .edit-event-box[open] form .top {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  top: -10%;
  margin-bottom: 10px;
}
body main .edit-event-box[open] form .top button {
  width: 20%;
  height: 10%;
  font-size: 0.8rem;
  margin: 0 20px;
  font-weight: 400;
  color: #6ae680;
  background-color: rgb(49, 47, 47);
  text-align: center;
  border: none;
  padding: 10px;
}
body main .edit-event-box[open] form .top button:hover {
  cursor: pointer;
  background-color: rgb(46, 44, 44);
}
body main .edit-event-box[open] input:not(.img-input) {
  height: 25%;
  width: 90%;
  padding: 20px 10px 10px 10px;
  margin: 2px 5% 20px 5%;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgb(49, 47, 47);
  color: white;
}
body main .edit-event-box[open] input:not(.img-input):not(:focus):valid {
  background-color: #f2eee9;
  color: rgb(49, 47, 47);
}
body main .edit-event-box[open] input:not(.img-input):focus ~ .floating-label, body main .edit-event-box[open] input:not(.img-input):not(:focus):valid ~ .floating-label {
  font-size: 12px;
  padding-top: 5px;
  opacity: 1;
}
body main .edit-event-box[open] .floating-label {
  display: inline;
  position: absolute;
  left: 10%;
  padding: 1rem;
  transition: 0.2s ease all;
  color: gray;
  font-size: 15px;
  pointer-events: none;
  z-index: 1;
}
body main .edit-event-box[open] textarea {
  border-radius: 5px;
  padding: 22px;
  margin: 2px 5% 25px 5%;
  width: 90%;
  background-color: rgb(49, 47, 47);
  color: white;
  z-index: -1;
}
body main .edit-event-box[open] textarea:not(:focus):valid {
  background-color: #f2eee9;
  color: rgb(49, 47, 47);
}
body main .edit-event-box[open] textarea:focus ~ .floating-label.text {
  padding: 3px 65% 4px 1.5rem;
  margin-top: 3px;
  left: 2.5rem;
  font-size: 11px;
  opacity: 1;
  border-radius: 5px 0px 5px 0;
  background-color: rgb(49, 47, 47);
  transition: all 0.0001s ease-in;
}
body main .edit-event-box[open] textarea:not(:focus):valid ~ .floating-label.text {
  padding: 3px 65% 3px 1.5rem;
  margin-top: 3px;
  left: 2.5rem;
  font-size: 11px;
  opacity: 1;
  background-color: #f2eee9;
  border-radius: 5px 0px 5px 0;
  transition: all 0.0001s ease-in;
}
body main .edit-event-box[open] .text {
  left: 5%;
  padding: 1rem;
}
body main .edit-event-box[open] .img-input-box {
  height: 25%;
  width: 90%;
  padding: 10px;
  margin: 2px 5% 25px 5%;
  border-radius: 5px;
  background-color: rgb(49, 47, 47);
  color: gray;
  font-size: 15px;
  border: 1px solid gray;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
body main .edit-event-box[open] .img-input-box label {
  flex: 2 1 auto;
}
body main .edit-event-box[open] .img-input-box .img-input {
  flex: 1 1 auto;
  width: 30%;
}
body .modal {
  background-color: rgba(0, 0, 0, 0.4);
  border: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  overflow: scroll;
}
body .modal .modal-container {
  position: relative;
  width: 40%;
  background-color: #f2eee9;
  border-radius: 15px;
  margin: 2rem 1rem;
  left: 30%;
}
body .modal .modal-container #band-name {
  padding: 1.5rem;
  text-align: center;
  font-size: 2rem;
}
body .modal .modal-container span {
  float: right;
}
body .modal .modal-container span .fa-solid {
  padding: 0.5rem;
  margin: 20px;
  cursor: pointer;
}
body .modal .modal-container span .fa-solid:hover {
  color: rgb(192, 192, 192);
}
body .modal .modal-container img {
  width: 100%;
  align-self: center;
}
body .modal .modal-container #performer-info {
  padding: 1rem;
  background-color: whitesmoke;
}
body .modal .modal-container p {
  padding: 10px;
}
body .modal .modal-container #show-time {
  background-color: rgba(128, 128, 128, 0.15);
  padding: 20px;
}
body .modal .modal-container #show-time .date {
  display: inline;
  padding: 20px 5px;
}
body .modal .modal-container #show-time .location {
  position: relative;
  bottom: -0.5rem;
}
body .modal .modal-container #show-time .time {
  display: inline;
  margin-top: 10px;
}
body .modal .modal-container #show-time .hide {
  display: none;
}/*# sourceMappingURL=styles_activity.css.map */