$themeColor: #f2eee9;
$titleColor: #e85234;
$buttonColor: #f1a99b;
$dateColor: rgb(137, 43, 43);
$formBColor: rgb(49, 47, 47);
$formColor: #6f9cff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  background-color: $themeColor;
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  header {
    nav {
      display: flex;
      justify-content: flex-end; // 水平對齊
      align-items: center; // 垂直對齊
      .logo {
        display: flex;
        margin-right: auto;
        align-items: center;
        width: 40%;
        &:hover {
          border: 0;
        }
        img {
          height: 10vh;
          flex-shrink: 1;
        }
        h1 {
          flex-shrink: 4;
        }
      }
      #sidebar-active {
        display: none;
      }
      .open {
        display: none;
        padding: 0 30px;
      }
    }
    .links-container {
      margin-left: 0;
      height: 100%;
      width: 60%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      .close {
        display: none;
        padding: 0 20px;
      }
      a {
        height: 100%;
        width: 100%;
        padding: 30px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        &:hover {
          background-color: $buttonColor;
        }
      }
    }
  }
  main {
    background-color: $dateColor;
    height: 100%;
    width: 100%;
    &:has(.edit-box[open]) {
      display: flex;
    }

    .edit-box[open] {
      border: none;
      position: relative;
      height: 200vh;
      width: 30vw;
      padding: 1rem;
      background-color: $formBColor;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      z-index: 3;
      transition: all 0.5s ease;
      &:has(main) {
        display: flex;
      }
      & ~ .edit-right {
        width: 70vw;
        .event {
          .event-info {
            padding: 1rem;
            p {
              font-size: 0.8rem;
            }
            .location {
              left: auto;
              top: 77%;
            }
            .time {
              width: 70%;
              bottom: 1rem;
              font-size: 13px;
              padding: 0.3rem;
            }
          }
        }
      }

      span {
        align-self: flex-start;
        color: white;
        &:hover {
          cursor: pointer;
        }
      }
      p {
        font-size: 1.5rem;
        color: white;
        margin-bottom: 1rem;
      }
      button {
        width: 70%;
        font-size: 0.8rem;
        font-weight: 400;
        color: $formColor;
        background-color: $formBColor;

        border: 1px solid gray;
        border-radius: 10px;
        text-align: center;
        &:hover {
          cursor: pointer;
          background-color: rgb(46, 44, 44);
        }
      }
      .add-event {
        width: 80%;
        height: 5%;
        font-size: 1rem;
        margin-bottom: 20px;
      }
      .added {
        width: 80%;
        .edit-event-div {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          width: 100%;
          margin-bottom: 10px;

          .eventBtn {
            width: 100%;
            padding: 20px;
          }
          .trashBtn {
            align-self: center;
            border: none;
            font-size: 1.05rem;
            padding: 5px 10px;

            &:hover {
              cursor: pointer;
              transform: scale(0.9);
              transition: 0.3s ease;
              background-color: $formBColor;
            }
          }
        }
      }
    }
    .edit-event-box[open] {
      border: none;
      justify-self: flex-start;
      background-color: $formBColor;
      height: 200vh;
      width: 29%;
      position: absolute;
      align-items: center;
      z-index: 4;

      select {
        display: block;
        background-color: $formBColor;
        color: gray;
        padding: 20px;
        width: 90%;
        border-radius: 5px;
        margin: 2px 5% 20px 5%;
        border: 1px solid gray;
        &:not(:selected):valid {
          background-color: $themeColor;
          color: $formBColor;
        }

        .hide {
          display: none;
        }
      }
      form {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        background-color: $formBColor;
        padding: 1rem;
        width: 100%;

        p {
          margin: 0 2rem;
          text-align: center;
          width: 50%;
          color: $formColor;
        }
        .top {
          position: relative;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          align-items: center;
          button {
            width: 15%;
            height: 10%;
            font-size: 0.8rem;
            margin: 0.5rem;
            font-weight: 400;
            color: $formColor;
            background-color: $formBColor;
            text-align: center;
            border: none;
            padding: 10px;
            &:hover {
              cursor: pointer;
              background-color: rgb(46, 44, 44);
            }
          }
        }
      }
      input:not(.img-input) {
        height: 25%;
        width: 90%;
        padding: 20px 10px 10px 10px;
        margin: 2px 5% 20px 5%;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: $formBColor;
        color: white;

        &:not(:focus):valid {
          background-color: $themeColor;
          color: $formBColor;
        }
        &:focus ~ .floating-label,
        &:not(:focus):valid ~ .floating-label {
          font-size: 10px;
          padding-top: 5px;
          opacity: 1;
        }
      }
      .floating-label {
        display: inline;
        position: absolute;
        left: 10%;
        padding: 1rem;
        transition: 0.2s ease all;
        color: gray;
        font-size: 15px;
        pointer-events: none;
        z-index: 1;
      }

      textarea {
        border-radius: 5px;
        padding: 22px;
        margin: 2px 5% 25px 5%;

        width: 90%;
        background-color: $formBColor;
        color: white;
        z-index: -1;

        &:not(:focus):valid {
          background-color: $themeColor;
          color: $formBColor;
        }

        &:focus ~ .floating-label.text {
          padding: 3px 60% 4px 1rem;
          margin-top: 3px;
          font-size: 12px;
          opacity: 1;
          border-radius: 5px 0px 5px 0;
          background-color: $formBColor;
          transition: 0.2s ease all;
        }
        &:not(:focus):valid ~ .floating-label.text {
          padding: 3px 60% 3px 1rem;
          margin-top: 3px;
          font-size: 12px;
          opacity: 1;
          background-color: $themeColor;
          border-radius: 5px 0px 5px 0;
          transition: 0.002s ease in;
        }
      }
      .text {
        left: 10%;
        padding: 1rem;
      }
      .img-input-box {
        height: 25%;
        width: 90%;
        padding: 10px;
        margin: 2px 5% 25px 5%;
        border-radius: 5px;
        background-color: $formBColor;
        color: gray;
        font-size: 15px;
        border: 1px solid gray;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        label {
          flex: 2 1 auto;
        }
        .img-input {
          flex: 1 1 auto;
          width: 30%;
        }
      }
      #img-container {
        width: 90%;
        height: 50%;
        margin: 2px 5% 20px 5%;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          display: none;
        }
      }
    }
    h1 {
      padding: 2rem 2rem 1rem 2rem;
      font-size: 30px;
      color: white;
    }

    .custom-select {
      padding: 0 2rem 1rem 2rem;

      select {
        position: relative;
        left: -1rem;
        padding: 10px;
        font-size: 0.8rem;
        background-color: $dateColor;
        color: white;
        border: 1.5px solid rgba(128, 128, 128, 0.704);
        &:not(input):hover {
          cursor: pointer;
          background-color: $themeColor;
          color: $dateColor;
        }
      }
      .hide {
        display: none;
      }

      input {
        padding: 10px;
        font-size: 0.8rem;
        position: relative;
        color: white;

        width: 8rem;
        background-color: transparent;
        z-index: 1;
        border: 1.5px solid rgba(128, 128, 128, 0.704);

        &::placeholder {
          color: white;
        }
        &:hover {
          cursor: pointer;
        }
      }
      i {
        color: white;
        position: relative;
        left: -1.5rem;
        font-size: 0.8rem;
        z-index: 0;
      }
    }
    .open-edit-box {
      position: relative;
      left: -1rem;

      padding: 10px 20px 10px 10px;
      font-size: 0.8rem;
      background-color: $dateColor;
      color: white;
      padding: 10px;
      border: 1.5px solid rgba(128, 128, 128, 0.704);
      &:hover {
        cursor: pointer;
        background-color: $themeColor;
        color: $dateColor;
      }
    }

    .event {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 1rem;
      &:hover {
        cursor: pointer;
      }

      .event-box {
        background-color: $themeColor;
        border-radius: 15px;
        width: 20%;
        height: 70vh;
        margin: 2.5%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        position: relative;
        z-index: 0;

        .filter {
          width: 100%;
          min-height: 100%;
          position: absolute;
          z-index: 1;
        }
        .div-image {
          height: 60%;
          border-radius: 10px 10px 0 0;

          img {
            border-radius: 10px 10px 0 0;

            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        .event-date {
          width: 30%;
          position: absolute;
          border-radius: 10px 0;
          background-color: $themeColor;
          padding: 5px 10px;
          text-align: center;
          p {
            font-size: 0.75rem;
            font-weight: 300;
            color: $dateColor;
          }
          .day {
            margin-top: -0.3rem;
            font-size: 1.75rem;
          }
          .day.end {
            font-size: 1rem;
          }
        }
      }
      .hide {
        display: none;
      }
      .event-info {
        padding: 2rem;
        text-align: left;
        height: 40%;
        .location {
          margin: -10px 0;
          color: rgb(130, 129, 129);
          font-size: 15px;
          font-weight: 400;
          position: absolute;
          bottom: 5rem;
          left: 2.5rem;
        }
        .time {
          background-color: rgba(183, 183, 183, 0.819);
          border-radius: 15px;
          padding: 0.5rem;
          line-height: 1rem;
          width: 50%;
          font-size: 15px;
          font-weight: 300;
          position: absolute;
          bottom: 2rem;
        }
      }
    }
  }
  .modal {
    background-color: rgba(0, 0, 0, 0.4);
    border: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    overflow: scroll;

    .modal-container {
      position: relative;
      width: 40%;
      background-color: $themeColor;
      border-radius: 15px;
      margin: 2rem 1rem;
      left: 30%;

      #band-name {
        padding: 1.5rem;
        text-align: center;
        font-size: 2rem;
      }
      span {
        float: right;
        .fa-solid {
          padding: 0.5rem;
          margin: 20px;
          cursor: pointer;

          &:hover {
            color: rgb(192, 192, 192);
          }
        }
      }
      img {
        width: 100%;
        align-self: center;
      }
      #performer-info {
        padding: 1rem;
        background-color: whitesmoke;
      }
      p {
        padding: 10px;
      }

      #show-time {
        background-color: rgba(128, 128, 128, 0.15);
        padding: 20px;
        .date {
          display: inline;
          padding: 20px 5px;
        }

        .time {
          margin-top: 10px;
        }
        .hide {
          display: none;
        }
        .location {
          position: relative;
          width: 85%;
          display: inline-block;
        }
        input {
          position: absolute;
          bottom: 1rem;
          right: 1.8rem;
          height: 2.5rem;
          width: 2.5rem;
          opacity: 0;
          z-index: 1;

          &:hover,
          &:hover + label > .fa-feather {
            cursor: pointer;
            color: $buttonColor;
          }

          &:checked + label > .fa-feather {
            color: $titleColor;
          }
        }
        label {
          position: relative;
          width: 5rem;
          float: inline-end;
          text-align: center;
          font-size: 0.75rem;
          bottom: 3.5rem;
          left: 1rem;

          .fa-feather {
            position: relative;
            float: inline-end;
            right: 1.5rem;
            font-size: 1.25rem;
            padding: 8px;
            color: rgb(192, 192, 192);
            background-color: $themeColor;
            border-radius: 45%;
            border: 2px solid $themeColor;
            z-index: 0;
          }
        }
      }
    }
  }
}
